/* for Variables */
:root {
    --primary-color: #0c1027;
    --secondary-color: #12193e;
    --secondary2-color: #1a1e33;
    --primary-font-color: white;
    --font-family: math;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-font-color);
  }
  
  body {
    width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(
      to left top,
      #8000ff, #ff9999, #99ff99
    );
    font-family: var(--font-family);
  }
  
  /* Main Header */
  #mainHeader {
    width: 100%;
    height: 50vh;
  }
  
  /* NavBar */
  #navbar {
    width: 100%;
    height: 20%;
    display: flex;
    padding: 0.6rem 4rem;
    justify-content: space-between;
  }
  
  #leftNav {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #logo img,
  #rightNav img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }
  
  #logoContent p:nth-child(even) {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .fav {
    font-size: 1rem;
  }
  
  #rightNav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #bell {
    position: relative;
  }
  
  #bell div {
    background-color: red;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  #searchWala {
    align-self: center;
    position: relative;
    width: 60%;
  }
  
  #searchWala i {
    font-size: 1.2rem;
    position: absolute;
    z-index: 1;
    top: -10px;
  }
  
  #searchWala .fa-magnifying-glass {
    left: 7px;
  }
  
  #searchWala .fa-microphone {
    right: 7px;
    color: #a5a7b3;
  }
  
  #search {
    width: 100%;
    outline: none;
    background-color: var(--secondary-color);
    border: none;
    font-size: 1rem;
    padding: 0.6rem 2rem;
    position: absolute;
    top: -17px;
    border-radius: 10px;
    left: 0;
    color: var(--primary-font-color);
  }
  
  /* haderContent */
  #haderContent {
    width: 80%;
    height: 70%;
    margin: 2.1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #containerOfHeader {
    width: 65%;
    height: 100%;
    display: flex;
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 10px;
    position: relative;
  }
  
  #containerOfHeader img::before {
    content: "";
    display: block;
    height: 120px;
    width: 120px;
    border: 1px solid red;
  }
  
  #headerBoxContent {
    display: flex;
    padding: 1.4rem 0.8rem;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  #upHeaderBox {
    display: flex;
    flex-direction: column;
  }
  
  #headingFo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .smallFont {
    font-size: 0.8rem;
  }
  
  #downtHeaderBox {
    width: 60%;
  }
  
  #button {
    border: none;
    background: linear-gradient(to left, #c047de, #4629b5);
    padding: 0.4rem 1.8rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: box-shadow 0.4s;
  }
  
  #button:hover {
    box-shadow: 1px 1px 6px #c047de, 1px 1px 6px#4629b5;
  }
  
  #buttonAndFo p {
    transition: transform 0.6s;
  }
  
  i:hover {
    text-shadow: 2px 2px 12px yellow;
    cursor: pointer;
  }
  
  #buttonAndFo p:hover {
    cursor: pointer;
    transform: scale(1.2);
    text-shadow: 1px 1px 5px;
  }
  
  #buttonAndFo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
  }
  
  /* similarHeading &&&&&&&&&&  Recently Played */
  #similar,
  #recentely {
    width: 30%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 1.3rem;
  }
  
  #similarHeading,
  #recentelyHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem;
  }
  
  #similarContent {
    display: flex;
  }
  
  .similarBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
  }
  .similarBox img {
    width: 40px;
    box-shadow: 1px 1px 6px;
  }
  
  .contentSmilarBox {
    width: 60%;
  }
  
  #similarLastTiming {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
  }
  
  #similarLastTiming p:nth-child(1) {
    align-self: center;
    font-size: 1.6rem;
  }
  
  /*  MainSection*/
  #mainSection {
    width: 80%;
    height: 40vh;
    margin: 2.1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #musicItem {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
  }
  
  .musicList {
    width: 100%;
    height: 70px;
    background-color: var(--secondary2-color);
    display: flex;
    align-items: center;
    margin-bottom: 1.1rem;
    justify-content: space-between;
  }
  
  .musicItemLeft {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .musicItemLeft img {
    width: 40px;
    height: 100%;
    box-shadow: 1px 1px 6px;
  }
  
  .detailOfMusic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .musicItemRifht {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
  }
  
  .likePlus {
    font-size: 0.9rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  /* Recentely Remaining */
  #recentely .musicList {
    background-color: transparent;
  }
  
  #recentely .musicList .musicItemLeft {
    width: 90%;
  }
  
  #recentely .musicItemLeft {
    width: 65%;
    min-height: 180px;
    max-width: 180px;
  }
  
  /* Footer */
  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #282828;
    padding: 0.4rem 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  #footLeft {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #footLeft img {
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 10px;
    cursor: pointer;
  }
  
  .footContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #footMiddle {
    width: 45%;
    min-width: 486px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #icons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #progressBar {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #progressBar input {
    width: 80%;
  }
  
  #footRight input {
    width: 60%;
  }
  
  #footRight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 203px;
    width: 20%;
  }
  
  /* Media Query */
  
  @media only screen and (max-width: 1108px) {
    #downtHeaderBox {
      width: 100%;
    }
    #footMiddle {
      margin: auto;
    }
    #footRight {
      margin: auto;
      max-width: 100%;
      margin-top: 1.2rem;
      order: 3;
    }
    #footLeft {
      min-width: 203px;
      margin: auto;
      margin-top: 1.2rem;
      order: 3;
    }
  }
  
  @media only screen and (max-width: 1030px) {
    #musicItem {
      width: 55%;
    }
  
    #recentely {
      width: 40%;
    }
  
    .musicItemLeft {
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 950px) {
    #navbar {
      padding: 0.6rem 1rem;
    }
  
    #mainSection {
      margin-top: 0rem;
    }
  
    #containerOfHeader {
      width: 55%;
      flex-direction: column;
    }
  
    #similar {
      width: 40%;
    }
  
    #containerOfHeader img {
      width: 40%;
      height: 100%;
    }
  
    #haderContent {
      height: 65%;
    }
  
    #containerOfHeader img {
      width: 81px;
      height: 74px;
      align-self: center;
      border-radius: 50%;
      margin-left: 0.4rem;
      margin-top: 1rem;
      box-shadow: 1px 1px 5px 3px;
    }
  
    #headerBoxContent {
      width: 100%;
    }
  
    #downtHeaderBox {
      margin-top: 1rem;
    }
  
    #buttonAndFo {
      width: 90%;
      margin-bottom: 1.1rem;
    }
  }
  
  @media only screen and (max-width: 758px) {
    #haderContent,
    #mainSection {
      width: 96%;
    }
  
    #leftNav {
      width: 35%;
    }
  }
  
  @media only screen and (max-width: 666px) {
    #navbar {
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1.2rem;
      max-height: 8rem;
      height: 30%;
      background: var(--primary-color);
      z-index: 1;
    }
  
    #leftNav {
      width: 100%;
      margin-bottom: 0.6rem;
    }
  
    #rightNav {
      width: 100%;
    }
  
    #haderContent {
      position: relative;
      flex-direction: column;
      top: 8rem;
    }
  
    #containerOfHeader {
      flex-direction: row;
      width: 90%;
    }
  
    #headerBoxContent {
      width: 75%;
    }
  
    #headContentWala {
      display: block;
      margin-bottom: 0.6rem;
    }
  
    #mainHeader {
      height: auto;
    }
  
    #similar {
      margin-top: 1.5rem;
      width: 90%;
      height: 145px;
    }
  
    #recentely {
      width: 44%;
    }
  
    #mainSection {
      position: relative;
      width: 96%;
      flex-direction: column;
      height: 60vh;
      top: 5vh;
    }
  
    #musicItem {
      width: 91%;
    }
  
    #recentely {
      width: 91%;
      margin-top: 2.2rem;
    }
  
    #containerOfHeader img {
      width: 122px;
      height: 122px;
    }
  
    #footer {
      padding-left: 0;
      padding-right: 0;
    }
  
    #footLeft {
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 453px) {
    #headContentWala {
      display: none;
    }
  }
  
  /* for slider copy from w3 school */
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #27dd70;
    border-radius: 12px;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .slider:hover {
    background: grey;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 2px;
    height: 2px;
    background: red;
    cursor: pointer;
  }
  